services:
  - type: web
    name: forps-backend
    runtime: python
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: sh start.sh
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: ALGORITHM
        value: HS256
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: "10080"
      - key: ALLOWED_ORIGINS
        sync: false
      - key: DISCORD_WEBHOOK_URL
        sync: false
      - key: PYTHON_VERSION
        value: "3.11.0"